#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,0,5,0
PRODUCTVERSION        	1,0,5,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0x0L
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "NNEDI3 OpenCL filter."
        VALUE "FileDescription",  "NNEDI3CL for AviSynth+."
        VALUE "FileVersion",      "1.0.5"
        VALUE "InternalName",     "NNEDI3CL"
        VALUE "OriginalFilename", "NNEDI3CL.dll"
        VALUE "ProductName",      "NNEDI3CL"
        VALUE "ProductVersion",   "1.0.5"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
